html {
background-color: white;
}
header {
  width: auto;
}
.header-title {
  text-align: center;
  color: mediumturquoise;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 60px;
}

.sub-title {
  text-align: center;
}

.header-list {
  background-color: aqua;
}

.header-list li {
  list-style: none;
  display: inline;
  padding: 0px 75px;
}

.main-text {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
main img{
  width: 100%;
  height: 350px;
}
.maeoki p{
  text-align: center;
  font-size: 15px;
}
span{
  font-size: 17px;
  color: red;
}
p {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.mokuji {
  background-color: paleturquoise;
  box-sizing: border-box;
}
.t-contents img {
  width: 25%;
  height: 200px;

}
.footer-title {
  font-size: 50px;
  color:mediumturquoise;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-top: 100px;
}